@model IEnumerable<INTEX.Models.Test>

@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.testName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baseCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hourlyWage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numDays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.testName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baseCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hourlyWage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numDays)
        </td>
    </tr>
}

</table>
