@model IEnumerable<INTEX.Models.Test_Tube>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Test.testName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.concentration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Test.testName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.concentration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.testTubeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.testTubeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.testTubeID })
        </td>
    </tr>
}

</table>
