@model INTEX.Models.Sample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assay.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compound.compoundName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compound.compoundName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.statusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.statusDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.testName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.testName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sequenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sequenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.testStatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.testStatusDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sampleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
