<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intex</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="~/Content/GrantStyles.css">

    @*<link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />*@
    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- FullCalendar -->
    <link href="~/Content/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Content/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom2.css" rel="stylesheet">
    <link href="~/Content/sitev2_2.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        @@media only screen and (max-width: 600px) {
            #body-wrapper {
                margin-top: 40px;
            }
        }
    </style>
</head>

<body class="nav-md">
    @*@if (User.Identity.IsAuthenticated)
    {*@
        <div class="container body">
            <div class="main_container">
                @*@if (Request.Cookies["Initialized"].Value == "")
                {*@
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            <div class="navbar nav_title" style="border: 0;">
                                @*<a href="@Url.Action("Index", "Dashboards")" class="site_title"><div id="brio-logo" style="width: 70px; margin-left: 50px;"><img src="~/Content/" alt="Alternate Text" /></div></a> <!-- TODO LOGO-->*@
                            </div>

                            <div class="clearfix"></div>

                            <!-- menu profile quick info -->
                            <div class="profile clearfix">
                                <div class="profile_pic">
                                    @*@if (Request.Cookies["ProfilePic"].Value != "")
                                    {
                                        <a href="@Url.Action("MyProfile", "Users", new { id = User.Identity.Name })"><img style="object-fit: cover; width: 56px; height: 56px;" src="@Request.Cookies["ProfilePic"].Value" alt="..." class="img-circle profile_img"></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("MyProfile", "Users", new { id = User.Identity.Name })"><img src="~/Content/placeholder-profile-pic.png" alt="..." class="img-circle profile_img"></a>
                                    }*@
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>@*@Request.Cookies["firstname"].Value @Request.Cookies["lastname"].Value*@Admin</h2>
                                </div>
                            </div>
                            <!-- /menu profile quick info -->

                            <br />

                            <!-- sidebar menu -->
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">
                                    
                                    <ul class="nav side-menu">
                                        <li>
                                            <a href="@Url.Action("Index", "Dashboards")"><i class="fa fa-tachometer"></i> My Dashboard </a>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-building"></i> Seattle <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "Tests", null @*new { UserID = User.Identity.Name }*@)">Alerts or Tasks</a></li>@*todo*@
                                                <li><a href="@Url.Action("Index", "Tests", null @*new { UserID = User.Identity.Name }*@)">All Individual tests</a></li>
                                                <li><a href="@Url.Action("Index", "Tests", null @*new { DateDecrement = 0 }*@)">All Orders</a></li>
                                                <li><a href="@Url.Action("Index", "Assays", null @*new { DateDecrement = 0 }*@)">Manangement</a></li> @*todo*@
                                                <li><a href="@Url.Action("Index", "Assays", null @*new { DateDecrement = 0 }*@)">Manangement(view sales report)</a></li> @*todo*@
                                                <li><a href="@Url.Action("Index", "Assays", null @*{ DateDecrement = 0 }*@)">Create result summary report </a></li> @*todo*@
                                            </ul>
                                        </li>
                                       
                                    </ul>
                                 
                                @*@if (User.IsInRole("Admin") || User.IsInRole("Regional") || User.IsInRole("Manager"))
                                {*@
                                    
                                       
                                    <ul class="nav side-menu">
                                        @*@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Regional"))
        {*@
                                        <li>
                                            <a><i class="fa fa-flask"></i>Singapore<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "Assays")">Requests Dashboards</a></li>
                                                <li><a href="@Url.Action("Index", "Assays")">Work Orders</a></li>
                                                <li><a href="@Url.Action("Index", "Tests")">All tests</a></li>

                                                @*<li><a href="#" data-toggle="modal" data-target="#sp1report-modal">Request dashboard</a></li>
        <li><a href="#" data-toggle="modal" data-target="#sp1report-modal">Work Orders</a></li>
        <li><a href="#" data-toggle="modal" data-target="#sp1report-modal">All Assays</a></li>*@
                                                <li>
                                                    <a>Schedule<span class="fa fa-chevron-down"></span></a>
                                                    <ul class="nav child_menu">
                                                        <li class="sub_menu">

                                                        <li>
                                                            <a href="@Url.Action("Index", "Assays", null)">Schedule Assays </a> @*todo*@
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Index", "Assays", null)">Edit Schedule</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-dollar"></i>Billing<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "Assays")">Work Orders</a></li>
                                                <li><a href="@Url.Action("Index", "Assays")">Record special requests(client) on work order</a></li> @*todo*@
                                                <li><a href="@Url.Action("Index", "Assays")">Create discount request</a></li>
                                                <li><a href="@Url.Action("Index", "Assays")">Invoices</a></li>
                                            </ul>
                                        </li>





                                        @*@if (User.IsInRole("Admin"))
        {*@
                                        <li>
                                            <a><i class="fa fa-list-alt"></i>Client Catalog (marketing site)<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "Assays")">2 Catalogs</a></li> @*todo*@
                                                <li><a href="@Url.Action("Create", "Assays")">Get quote</a></li>
                                                <li><a href="@Url.Action("Index", "Assays")">About Us</a></li>
                                            </ul>
                                        </li>

                                        @*@if (User.IsInRole("Admin") || User.IsInRole("Regional") || User.IsInRole("Manager"))
        {*@
                                        <li>
                                            <a><i class="fa fa-users"></i>Active Clients<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Index", "Assays")">All clients orders</a></li>
                                                @*@if (User.IsInRole("Admin"))
                {*@
                                                <li><a href="@Url.Action("Index", "Users")">1 orders tests </a></li>
                                                <li><a href="@Url.Action("Index", "Users")">Active tests </a></li>
                                                @*}*@

                                                <li><a href="@Url.Action("AddSFUser", "Admin")">Help</a></li>
                                                <li><a href="@Url.Action("Create", "Assays")">New order (request quote)</a></li>
                                            </ul>
                                        </li>

                                        @*@if (User.IsInRole("Admin"))
        {*@
                                        <li>
                                            <a><i class="fa fa-compress"></i>Contact us<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("SendTextMessages", "Admin")">Chat</a></li>
                                                <li><a href="@Url.Action("Index", "VideoApplications")">Contact</a></li>
                                                <li><a href="@Url.Action("Index", "Announcements")">Frequently asked questions</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-user"></i>Sales<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("Create", "Clients")">Create client</a></li>
                                                <li><a href="@Url.Action("Index", "VideoApplications")">Approve work order</a></li>
                                                <li><a href="@Url.Action("Index", "VideoApplications")">Client(s) status</a></li>
                                                <li><a href="@Url.Action("Index", "Announcements")">Alerts</a></li>
                                            </ul>
                                        </li>
                                        @*}*@
                                    </ul>
                                    </div>
                                @*}*@

                            </div>
                        </div>
                    </div>
                    

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        @*@Request.Cookies["firstname"].Value @Request.Cookies["lastname"].Value*@
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li>@Html.ActionLink("My Profile", "MyProfile", "Users", new { id = User.Identity.Name }, null)</li>
                                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- modal content -->
                <div class="right_col" role="main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" id="body-wrapper">
                                @RenderBody()


                                @*@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Regional"))
                                {*@
                                    <div id="sp1report-modal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Generate SP1 Report</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <label>Quick Dates: &nbsp;&nbsp;</label>
                                                            <div class="btn-group">
                                                                @Html.ActionLink("Today", "SP1WeeklyReport_v2", "Reports", new { startDate = DateTime.Today.ToString("ddd MM/dd/yyyy"), endDate = DateTime.Today.ToString("ddd MM/dd/yyyy"), SP1_RegionID = -1, isPayrollReport = false }, new { @class = "btn btn-sm btn-info", onclick = "turnOnBrioOpacityLoader();" })
                                                                @Html.ActionLink("Yesterday", "SP1WeeklyReport_v2", "Reports", new { startDate = DateTime.Today.AddDays(-1).ToString("ddd MM/dd/yyyy"), endDate = DateTime.Today.AddDays(-1).ToString("ddd MM/dd/yyyy"), SP1_RegionID = -1, isPayrollReport = false }, new { @class = "btn btn-sm btn-info", onclick = "turnOnBrioOpacityLoader();" })
                                                                @Html.ActionLink("Past 7 Days", "SP1WeeklyReport_v2", "Reports", new { startDate = DateTime.Today.AddDays(-7).ToString("ddd MM/dd/yyyy"), endDate = DateTime.Today.AddDays(-1).ToString("ddd MM/dd/yyyy"), SP1_RegionID = -1, isPayrollReport = false }, new { @class = "btn btn-sm btn-info", onclick = "turnOnBrioOpacityLoader();" })
                                                                @Html.ActionLink("Past Month", "SP1WeeklyReport_v2", "Reports", new { startDate = DateTime.Today.AddMonths(-1).ToString("ddd MM/dd/yyyy"), endDate = DateTime.Today.ToString("ddd MM/dd/yyyy"), SP1_RegionID = -1, isPayrollReport = false }, new { @class = "btn btn-sm btn-info", onclick = "turnOnBrioOpacityLoader();" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <h4><b>Custom Date Range:</b></h4>
                                                    @using (Html.BeginForm("SP1WeeklyReport_v2", "Reports", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <div class="row report-only">
                                                            @Html.Hidden("RegionID", "-1")
                                                            @Html.Hidden("FromDash", "true")
                                                            <div class="col-md-6">
                                                                <label>From:</label>
                                                                <div class="form-group">
                                                                    <div class='input-group date' id='nav-datetimepicker1'>
                                                                        @Html.TextBox("startDate", null, new { @class = "form-control" })
                                                                        <span class="input-group-addon">
                                                                            <a style="color:#333" href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>To:</label>
                                                                <div class="form-group">
                                                                    <div class='input-group date' id='nav-datetimepicker2'>
                                                                        @Html.TextBox("endDate", null, new { @class = "form-control" })
                                                                        <span class="input-group-addon">
                                                                            <a style="color:#333" href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <br />
                                                                <input class="btn btn-success" onclick="turnOnBrioOpacityLoader();" type="submit" name="submit" value="Go" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div id="sp2report-modal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Generate SP2 Report</h4>
                                                </div>
                                                <div class="modal-body">
                                                    @using (Html.BeginForm("SP2Report", "Reports", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <div class="row">

                                                        </div>
                                                        <div class="row report-only">
                                                            @Html.Hidden("FromDash", "true")
                                                            <div class="col-md-6">
                                                                <label>From:</label>
                                                                <div class="form-group">
                                                                    <div class='input-group date' id='nav-datetimepicker3'>
                                                                        @Html.TextBox("startDate", null, new { @class = "form-control" })
                                                                        <span class="input-group-addon">
                                                                            <a style="color:#333" href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>To:</label>
                                                                <div class="form-group">
                                                                    <div class='input-group date' id='nav-datetimepicker4'>
                                                                        @Html.TextBox("endDate", null, new { @class = "form-control" })
                                                                        <span class="input-group-addon">
                                                                            <a style="color:#333" href="#"><span class="glyphicon glyphicon-calendar"></span></a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <br />
                                                                <input class="btn btn-success" onclick="turnOnBrioOpacityLoader();" type="submit" name="submit" value="Go" />
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                @*}*@


                            </div>
                        </div>
                    </div>

                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        &copy; Intex | Version 2.0.0
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    @*}
    else
    {*@
        <div class="right_col" role="main">
            <div class="container">
                @*@RenderBody()*@
            </div>
        </div>
        <!-- /page content -->
    }
    <div id="opacity-loader">
        <img id="brio-opacity-loader" src="~/Content/brio-loader-opacity.gif" />
    </div>
    <script>
        function turnOnBrioOpacityLoader() {
            $("#opacity-loader").show();
        }
    </script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Content/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Content/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Content/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- FullCalendar -->
    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/tablesorter.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js/"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/datatables.min.js"></script>
    <script>
        $("#menu_toggle").click(function () {
            $("#brio-logo").toggle();
        });
        $(function () {
            $('#nav-datetimepicker1').datetimepicker({
                format: 'ddd MM/DD/YYYY',
            });
            $('#nav-datetimepicker2').datetimepicker({
                format: 'ddd MM/DD/YYYY',
            });
            $('#nav-datetimepicker3').datetimepicker({
                format: 'ddd MM/DD/YYYY',
            });
            $('#nav-datetimepicker4').datetimepicker({
                format: 'ddd MM/DD/YYYY',
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
