<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intex</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="~/Content/GrantStyles.css">

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom2.css" rel="stylesheet">
    <link href="~/Content/sitev2_2.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        @@media only screen and (max-width: 600px) {
            #body-wrapper {
                margin-top: 40px;
            }
        }
    </style>
</head>
<body class="nav-md">
        <div class="container body">
            <div class="main_container">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            <div class="navbar nav_title" style="border: 0;">
                            </div>
                            <div class="clearfix"></div>
                            <div class="profile clearfix">
                                <div class="profile_pic">
                                    
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>@ViewBag.User</h2>
                                </div>
                            </div>
                            <br />
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">


                                    @if (User.IsInRole("RegionalManager"))
                                    {
                                        
                                            <a><i class="fa fa-building"></i> Seattle <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                <li><a href="@Url.Action("Index", "Assays")">Create result summary report </a></li>
                                            </ul>
                                        
                                    }
                                    @if (User.IsInRole("LabTech"))
                                    {
                                        <ul class="nav side-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "Home")"><i class="fa fa-flask"></i>Singapore Pharmaceutical</a>

                                            </li>
                                        </ul>
                                    }
                                    @if (User.IsInRole("Client"))
                                    {
                                        <ul class="nav side-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "Home")"><i class="fa fa-flask"></i>North West Labs </a>

                                            </li>
                                        </ul>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <ul class="nav side-menu">
                                            <li>
                                                <a href="@Url.Action("Index", "Home")"><i class="fa fa-flask"></i>Admin Super User </a>

                                            </li>
                                        </ul>
                                    }

                                    <ul class="nav side-menu">
                                        @if (User.IsInRole("LabTech") || User.IsInRole("Admin"))
                                        {
                                            <li>
                                                <a><i class="fa fa-tachometer"></i>My Dashboard<span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span> <span class="fa fa-chevron-down"></span></a>

                                                <ul class="nav child_menu">

                                                    <li><a href="@Url.Action("Index", "Assays")">Work Orders</a></li>
                                                    <li><a href="@Url.Action("QuotesRecieved", "Assays")">Quotes to be priced</a></li>
                                                    <li><a href="@Url.Action("WaitingCompounds", "Assays")">Work Orders waiting for compounds<span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span></a></li>
                                                    <li><a href="@Url.Action("WaitingToBeScheduled", "Assays")">Work Orders waiting to be scheduled<span class="fa fa-exclamation-triangle alerts"  aria-hidden="true" style="color: orange;"></span></a></li>
                                                    <li><a href="@Url.Action("Scheduled", "Assays")">Work Orders Scheduled</a></li>
                                                    <li><a href="@Url.Action("FailedTests", "Assays")">Work Orders Failed</a></li>
                                                    <li><a href="@Url.Action("SuccessfulOrders", "Assays")">Work Orders completed</a></li>
                                                </ul>
                                            </li>
                                        }
                                        @if (User.IsInRole("Sales") || User.IsInRole("Admin") || User.IsInRole("Client"))
                                        {

                                            <li>

                                                <a><i class="fa fa-list-alt"></i>Client Catalog (marketing site)<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="@Url.Action("Index", "Tests")">Catalog</a></li>
                                                    <li><a href="@Url.Action("Create", "Assays")">Get quote</a></li>
                                                    <li><a href="@Url.Action("Index", "Assays")">About Us</a></li>
                                                </ul>
                                            </li>
                                        }

                                        @if (User.IsInRole("Admin") || User.IsInRole("Client"))
                                        {
                                            <li>
                                                <a><i class="fa fa-tachometer"></i>My Dashboard <span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span><span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="@Url.Action("displayCustomerOrders", "Clients", new { AuthIDs = int.Parse(User.Identity.Name) })">My Orders</a></li>
                                                    <li><a href="@Url.Action("Create", "Assays",int.Parse(User.Identity.Name))">Request Quote</a></li>
                                                    <li><a href="@Url.Action("displayCustomerOrders", "Clients",int.Parse(User.Identity.Name))">Orders Waiting to be quoted in Singapore</a></li>
                                                    <li><a href="@Url.Action("Client2Finalize", "Assays", int.Parse(User.Identity.Name))">Priced Quotes</a></li>
                                                    <li><a href="@Url.Action("ClientOrdersWaitingCompound", "Assays", int.Parse(User.Identity.Name))">Orders waiting on compound</a></li>
                                                    <li><a href="@Url.Action("ClientOrdersWaitingSchedule", "Assays", int.Parse(User.Identity.Name))">Orders waiting to be scheduled</a><span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span></li>
                                                    <li><a href="@Url.Action("ClientOrdersScheduled", "Assays")">Orders scheduled</a></li>
                                                    <li><a href="@Url.Action("ClientFailedTests", "Assays")">Failed tests waiting for approval</a></li>
                                                    <li><a href="@Url.Action("ClientsCompletedOrders", "Assays")">Work Orders completed (export results)</a><span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span></li>
                                                </ul>
                                            </li>
                                        }

                                        @if (User.IsInRole("Sales") || User.IsInRole("Admin"))
                                        {
                                            <li>
                                                <a><i class="fa fa-user"></i>Sales<span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span><span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="@Url.Action("Create", "Clients")">Create client</a></li>
                                                    <li><a href="@Url.Action("QuotesRecieved", "Assays")">Work Orders waiting to be quoted in singapore</a><span class="fa fa-exclamation-triangle alerts" aria-hidden="true" style="color: orange;"></span></li>
                                                </ul>
                                            </li>

                                        }


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                     

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        @ViewBag.User Profile
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li>@Html.ActionLink("My Profile", "MyProfile", "Users", new { id = User.Identity.Name }, null)</li>
                                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->
                <!-- modal content -->
                <div class="right_col" role="main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" id="body-wrapper">
                                @RenderBody()


                                
                                    <div id="sp1report-modal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">For which client</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <label></label>
                                                            <div class="btn-group">
                                                                @using (Html.BeginForm("Login", "Home", FormMethod.Get))
                                                                {
                                                                    <div class="row text-center">
                                                                        <div class="col-md-6 col-md-offset-3">
                                                                            <label class="control-label">
                                                                                Username:
                                                                            </label>
                                                                            @Html.TextBox("Telephone number", null, new { @class = "form-control", placeholder = "Enter your username..." })
                                                                            <br />
                                                                            
                                                                            <input type="submit" value="Login" />

                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div id="sp2report-modal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Generate SP2 Report</h4>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                


                            </div>
                        </div>
                    </div>

                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        &copy; Intex | Version 2.0.0
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
   
        <div class="right_col" role="main">
            <div class="container">
               
            </div>
        </div>
        <!-- /page content -->
    }
    <div id="opacity-loader">
        <img id="brio-opacity-loader" src="~/Content/brio-loader-opacity.gif" />
    </div>
    <script>
        $(document).ready(function () {

            //$(".alerts").show();

            //$("a").onClick($(".alerts").hide());

        }
        );
        function turnOnBrioOpacityLoader() {
            $("#opacity-loader").show();
        }
    </script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Content/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Content/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Content/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- FullCalendar -->
    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.js"></script>

    
    <script src="~/Scripts/tablesorter.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js/"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.2/datatables.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
